
@import url('https://fonts.googleapis.com/css?family=Concert+One');
body {
    background-image: url("img/hmbg2.jpg");
    background-color: #cccccc;
    background-attachment: fixed;
    background-position: center center; 
    background-size: 120%;
    cursor: url('img/cursor.cur')
  }
 /* The side navigation menu */
.sidebar {
    margin-left: 0px;
    padding: 10px;
    width: 350px;
    background-color: #000000;
    position: fixed;
    height: 100%;
    overflow: right;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: #FF9999;
    padding: px16;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: rgb(0, 0, 0);
    color: #CCFF00;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: rgb(0, 0, 0);
    color: #CCFF00
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-bottom: 0px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: right;}
    div.content {margin-bottom: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

  img.animated-gif{
    width: 600px;
    height: auto;
    margin-left: 500px
  }
